* {
	padding: 0;
	margin: 0;
	outline: none;
	font-family: sans-serif;
}
.table_box {
	position: relative;
	width: 1000px;
	box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.5);
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 35px;
}
.table4 {
	border-collapse: collapse;
	margin-bottom: 50px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	
}
th {
	border-bottom: 1px solid black;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 50px;
}
td {
	padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 50px;
}
tr {
	border-bottom: 1px solid black;
}
tr:last-child {
	border: none;
}
.box_plus {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: red;
	border: none;
} 
.box_minus {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: red;
	border: none;
} 
.box_delete {
	display: inline-block;
	width: 85px;
	height: 50px;
	background-color: red;
	border: none;
} 
button {
	font-weight: bolder;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
}
.items {
	text-align: right;
	color: black;
	font-weight: bolder;
	margin-right: 60px;
}
.price_without {
	text-align: right;
	color: grey;
	font-weight: bold;
	margin-right: 60px;
	margin-bottom: 35px;
}
.button {
	width: 200px;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: red;
	margin-left: auto;
	margin-right: auto;

}
.button_close {
	position: absolute;
	top: -12px;
	left: 989px;
	height: 20px;
	width: 20px;
	border: 2px solid white;
	border-radius: 50%;
	background-color: black;
	box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.5);
	color: white;
	font-weight: bolder;
	text-align: center;
}
